html[dir="ltr"] .myAppDemoWT .myCustomButton {
  margin-right: 0.125rem;
}

.myAppDemoWT .myCustomText {
  display: inline-block;
  font-weight: bold;
}

.sapMInputBase:not(.sapMInputBaseHasEndIcons):not(.sapMInputBaseHasBeginIcons)
  .sapMInputBaseInner {
  background-color: lightgrey;
}

.sapMInputBaseInner {
  font-size: 0.65rem;
}
